@model Pin[]
@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group">
@foreach(Pin pin in Model)
{
    
    <li class="list-group-item">
        <span>@(pin.Name) (@(pin.Number))</span>
        <a class="btn btn-success btn-lg">On</a>
        <a class="btn btn-danger btn-lg">Off</a>
        <a class="btn btn-info btn-lg">Blink</a>
    </li>
}
</ul>